{% extends "base.html" %}

{% block title %}Developers - WGLA Worm Gene List Analyzer{% endblock %}

{% block content %}
<h1 class="mb-4">Development Team</h1>

<div class="row mb-4">
    <div class="col-md-12">
        <div class="card shadow-sm">
            <div class="card-header bg-secondary text-white">
                <h5 class="mb-0">Team Members</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body text-center">
                                <h5 class="card-title">Wei-Sheng Wu</h5>
                                <ul class="list-unstyled">
                                    <li><strong>Professor</strong></li>
                                    <li>Department of Electrical Engineering,</li>
                                    <li>National Cheng Kung University, Taiwan</li>
                                    <li><a href="mailto:wessonwu@gmail.com">wessonwu@gmail.com</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body text-center">
                                <h5 class="card-title"> Yu-Kuang Chu</h5>
                                <ul class="list-unstyled">
                                    <li><strong>BS Student</strong></li>
                                    <li>Department of Cross College Elite Program,</li>
                                    <li>National Cheng Kung University</li>
                                    <li><a href="mailto:c54104719@gs.ncku.edu.tw">c54104719@gs.ncku.edu.tw</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
